<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<header>
    <div class="navbar navbar-default">
        <span class="header-title" th:text="#{site.name}"></span>
        <div class="navigation">
            <div class="header-link"><a href="/orders" th:text="#{orders}"></a></div>
            <div class="header-link"><a href="/book" th:text="#{books}"></a></div>
            <div class="header-link"><a href="/logout" th:text="#{logout}"></a></div>
            <div class="header-link"><a href="/orders?language=en" th:text="#{label.lang.en}"></a></div>
            <div class="header-link"><a href="/orders?language=ua" th:text="#{label.lang.ua}"></a></div>
        </div>
    </div>
</header>
</body>
</html>