<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<header>
    <div class="navbar navbar-default" style="background-color: aquamarine; margin: 0 !important">
        <h1 style="float: left">{{ siteName }}</h1>
        <span><a style="float: right; margin-right: 5px" href="/orders?language=ua"
                 th:text="#{label.lang.ua}"></a></span>
        <span><a style="float: right; margin-right: 5px" href="/orders?language=en"
                 th:text="#{label.lang.en}"></a></span>
        <span><a style="float: right; margin-right: 5px" href="/logout" th:text="#{logout}"></a></span>
        <span><a style="float: right; margin-right: 5px" href="/book" th:text="#{books}"></a></span>
        <span><a style="float: right; margin-right: 5px" href="/orders" th:text="#{orders}"></a></span>
        <span><a style="float: right; margin-right: 5px" href="/" th:text="#{main}"></a></span>
    </div>
</header>
</body>
</html>