!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div th:fragment="filter">
    <div class="w3-sidebar w3-light-grey w3-bar-block"
         style="width:17%; float: left; padding-top: 10%; background-color: lightgrey;">
        <!--            name-->
        <div>
            <input id="partOfName" class="form-control" type="text" v-model="partOfName">
            <label for="partOfName" th:text="#{part.of.name}"></label>
        </div>
        <br>
        <!--            tags-->
        <div id="tagsCheckbox" class="col-md-6 boxes">
            <div v-for="tag in tags">
                <div style="display: inline;">
                    <input style="display: inline; float: left; margin-left: 0px" type="checkbox"
                           v-bind:value="tag"
                           v-model="addedTags">
                    <h6 style="display: inline; margin-right: 0px;">{{tag}}</h6>
                </div>
            </div>
        </div>
        <br>
        <label for="tagsCheckbox" style="margin: 20px ;" th:text="#{select.tags}"></label>
        <br>
        <!--            authors-->
        <div style="padding-top: 10px" id="authorsCheckbox" class="col-md-6 boxes">
            <div v-for="author in authors">
                <div style="display: inline;">
                    <input style="display: inline; float: left; margin-left: 0px" type="checkbox"
                           v-bind:value="author"
                           v-model="addedAuthors">
                    <h6 style="display: inline;">{{author}}</h6>
                </div>
            </div>
        </div>
        <br>
        <label for="authorsCheckbox" style="margin: 20px" th:text="#{select.authors}"></label>
        <br>
        <button class="btn btn-warning" style="width: 30%;" @click="changeList" th:text="#{load}"></button>
    </div>
</div>
</body>
</html>