!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div th:fragment="filter">
    <div class="w3-sidebar w3-light-grey w3-bar-block">
        <!--            name-->
        <div>
            <input id="partOfName" class="form-control" type="text" th:placeholder="#{part.of.name}"
                   v-model="partOfName">
        </div>
        <div class="col-md-6 boxes">
            <!--            tags-->
            <label th:text="#{select.tags}"></label>
            <div v-for="tag in tags">
                <input class="input-checkbox" type="checkbox"
                       v-bind:value="tag"
                       v-model="addedTags">
                {{tag}}
            </div>
            <!--            authors-->
            <label th:text="#{select.authors}"></label>
            <div v-for="author in authors">
                <input class="input-checkbox" type="checkbox"
                       v-bind:value="author"
                       v-model="addedAuthors">
                {{author}}
            </div>
            <button class="btn btn-warning" @click="changeList" th:text="#{load}"></button>
        </div>
    </div>
</div>
</body>
</html>