<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/book-manage.js"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/filter.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/book-manage.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body style="text-align: center">
<div id="app">
    <div th:replace="fragments/admin-header :: header">...</div>
    <div style="padding-top: 10%; text-align: center; width: 83%; float: right">
        <input type="radio" id="one" value="1" v-model="picked">
        <label for="one" th:text="#{add.book}"></label>
        <input type="radio" id="two" value="2" v-model="picked">
        <label for="two" th:text="#{edit.delete}"></label>
        <hr>
    </div>
    <!--    add-->
    <div v-if="picked==1" id="add" style="max-width: 500px; margin: auto;">
        <input id="book_name" type="text" class="form-control" th:placeholder="#{book.name.en}"
               v-model="addedBook.name">
        <input id="book_name_ua" type="text" class="form-control" th:placeholder="#{book.name.ua}"
               v-model="addedBook.nameUa">
        <!--            tags-->
        <div id="tagsChecks" class="col-md-6 boxes">
            <div v-for="tag in tags">
                <div style="display: inline;">
                    <input style="display: inline; float: left; margin-left: 0px" type="checkbox"
                           v-bind:value="tag"
                           v-model="addedBook.tags">
                    <h6 style="display: inline; margin-right: 0px;">{{tag}}</h6>
                </div>
            </div>
        </div>
        <br>
        <label for="tagsCheckbox" style="margin: 20px ;" th:text="#{select.tags}"></label>
        <br>
        <!--            authors-->
        <div style="padding-top: 10px" id="authorsСhecks" class="col-md-6 boxes">
            <div v-for="author in authors">
                <div style="display: inline;">
                    <input style="display: inline; float: left; margin-left: 0px" type="checkbox"
                           v-bind:value="author"
                           v-model="addedBook.authors">
                    <h6 style="display: inline;">{{author}}</h6>
                </div>
            </div>
        </div>
        <br>
        <label for="authorsCheckbox" style="margin: 20px" th:text="#{select.authors}"></label>
        <br>
        <div style="text-align: center; margin-top: 20px">
            <button v-on:click="addBook" class="btn btn-warning" style="width: 30%;" th:text="#{load}"></button>
        </div>
    </div>
    <!--    edit or delete-->
    <div v-else>
        <!--        filter-->
        <div th:insert="fragments/filter.html :: filter"></div>
        <!--        books -->
        <div>
            <table style="width: 60%;margin-left:25%; padding-top: 10%; display: table" class="table table-borderless">
                <thead>
                <tr>
                    <th>#</th>
                    <th th:text="#{book.name}"></th>
                    <th th:text="#{tags}"></th>
                    <th th:text="#{authors}"></th>
                    <th th:text="#{actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(book, index) in books">
                    <td>{{index+1}}</td>
                    <td> {{book.name}}</td>
                    <td style="font-size: 12px">
                        <div id="editTags" class="col-md-6 boxes">
                            <div v-for="tag in tags">
                                <div style="display: inline;">
                                    <input style="display: inline; float: left; margin-left: 0px" type="checkbox"
                                           v-bind:value="tag"
                                           v-model="book.tags">
                                    {{tag}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="font-size: 12px">
                        <div id="editAuthors" class="col-md-6 boxes">
                            <div v-for="author in authors">
                                <div style="display: inline;">
                                    <input style="display: inline; float: left; margin-left: 0px" type="checkbox"
                                           v-bind:value="author"
                                           v-model="book.authors">
                                    {{author}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="max-width: 10%">
                        <button class="btn btn-success" v-on:click="editBook(book)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger" v-on:click="deleteBook(book)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-warning" style="width: 30%;" @click="loadMore()" th:text="#{load.more}">
        </button>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</div>
<style lang="less">
    input {
        margin-top: 17px;
    }

    body {
        font-family: Arial;
        font-style: normal;
    }

    th {
        text-align: center;
    }
</style>
</body>
</html>