<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/book-manage.js"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/filter.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/book-manage.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body style="text-align: center">
<div id="app">
    <div th:replace="fragments/admin-header :: header">...</div>
    <div class="check-fragment">
        <input type="radio" id="one" value="1" v-model="picked">
        <label for="one" th:text="#{add.book}"></label>
        <input type="radio" id="two" value="2" v-model="picked">
        <label for="two" th:text="#{edit.delete}"></label>
        <hr>
    </div>
    <!--    add-->
    <div v-if="picked==1" id="add">
        <div class="w3-sidebar w3-light-grey w3-bar-block">
            <div class="col-md-6 boxes" style="padding-top: 15%;">
                <!--            tags-->
                <label th:text="#{select.tags}"></label>
                <div v-for="tag in tags">
                    <input class="input-checkbox" type="checkbox"
                           v-bind:value="tag"
                           v-model="addedBook.tags">
                    {{tag}}
                </div>
                <!--            authors-->
                <label th:text="#{select.authors}"></label>
                <div v-for="author in authors">
                    <input class="input-checkbox" type="checkbox"
                           v-bind:value="author"
                           v-model="addedBook.authors">
                    {{author}}
                </div>
            </div>
        </div>
        <div class="book-names-input">
            <input id="book_name" type="text" class="form-control" th:placeholder="#{book.name.en}"
                   v-model="addedBook.name">
            <input id="book_name_ua" type="text" class="form-control" th:placeholder="#{book.name.ua}"
                   v-model="addedBook.nameUa">
            <div>
                <button v-on:click="addBook" class="btn btn-warning" style="width: 30%;" th:text="#{load}"></button>
            </div>
        </div>
    </div>
    <!--    edit or delete-->
    <div v-else>
        <!--        filter-->
        <div th:insert="fragments/filter.html :: filter"></div>
        <!--        books -->
        <div>
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th>#</th>
                    <th th:text="#{book.name}"></th>
                    <th th:text="#{tags}"></th>
                    <th th:text="#{authors}"></th>
                    <th th:text="#{actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(book, index) in books">
                    <td>{{index+1}}</td>
                    <td> {{book.name}}</td>
                    <td class="attribute-list">
                        <div id="editTags" class="col-md-6 boxes">
                            <div v-for="tag in tags">
                                <div class="attribute-list-inline">
                                    <input type="checkbox"
                                           v-bind:value="tag"
                                           v-model="book.tags">
                                    {{tag}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="attribute-list">
                        <div id="editAuthors" class="col-md-6 boxes">
                            <div v-for="author in authors">
                                <div class="attribute-list-inline">
                                    <input type="checkbox"
                                           v-bind:value="author"
                                           v-model="book.authors">
                                    {{author}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="buttons-actions">
                        <button class="btn btn-success" v-on:click="editBook(book)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger" v-on:click="deleteBook(book)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-success" @click="loadMore()">
            <i class="fa fa-chevron-down"></i>
        </button>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>