<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/reg.css}"/>
<body>
<div id="app">
    <div th:replace="fragments/guest-header :: header">...</div>
    <div class="form-wrapper">
        <p class="h3 text-center mb-4" th:text="#{sign.in}"></p>
        <form action="login" method="post">
            <input id="username" class="form-control" th:placeholder="#{username}" type="text" name="username"
                   v-model="username">
            <input type="password" class="form-control" th:placeholder="#{password}" name="password" id="password"
                   v-model="password">
            <div>
                <input class="btn btn-warning" type="submit" name="submit" th:value="#{submit}">
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</div>
</body>
</html>