<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/guest.css}"/>
<body>
<div id="app">
    <div th:replace="fragments/guest-header :: header">...</div>
    <div class="form-wrapper">
        <p class="h3 text-center mb-4" th:text="#{sign.up}"></p>
        <!--/*@thymesVar id="user" type="extclasses.final_project_spring.dto.UserDTO"*/-->
        <form action="#" th:action="@{/reg}" th:object="${user}" method="post">
            <input class="form-control" type="text" th:placeholder="#{username}" th:field="*{username}">
            <p class="alert alert-warning" th:each="error: ${#fields.errors('username')}"
               th:text="${error}">Validation error</p>
            <input id="phone" class="form-control" type="text" th:placeholder="#{phone}" th:field="*{phone}">
            <p th:each="error: ${#fields.errors('phone')}"
               th:text="${error}" class="alert alert-warning">Validation error</p>
            <input type="email" class="form-control" th:placeholder="#{email}" th:field="*{email}">
            <p th:each="error: ${#fields.errors('email')}"
               th:text="${error}" class="alert alert-warning">Validation error</p>
            <input type="password" class="form-control" th:placeholder="#{password}" th:field="*{password}">
            <p th:each="error: ${#fields.errors('password')}"
               th:text="${error}" class="alert alert-warning">Validation error</p>
            <div>
                <input class="btn btn-warning" type="submit" name="submit" th:value="#{submit}">
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</div>
</body>
</html>