<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/user.js"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/user.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="text-align: center">
<div id="app">
    <div th:replace="fragments/user-header :: header">...</div>
    <div class="check-fragment">
        <input type="radio" id="one" value="1" v-model="picked">
        <label for="one" th:text="#{orders}"></label>
        <input type="radio" id="two" value="2" v-model="picked">
        <label for="two" th:text="#{my.books}"></label>
        <hr>
    </div>
    <!--        passive orders -->
    <div v-if="picked==1">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{book.name}"></th>
                <th th:text="#{order.date}"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(order, index) in passiveOrders">
                <td>{{index+1}}</td>
                <td>{{order.bookName}}</td>
                <td>{{order.startDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    active orders-->
    <div v-else>
        <table class="table table-borderless">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{book.name}"></th>
                <th th:text="#{start.date}"></th>
                <th th:text="#{end.date}"></th>
                <th th:text="#{return}"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(order, index) in activeOrders">
                <td>{{index+1}}</td>
                <td>{{order.bookName}}</td>
                <td>{{order.startDate}}</td>
                <td>{{order.endDate}}</td>
                <td>
                    <button class="btn btn-danger" v-on:click="returnBook(order)">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</div>
<style lang="less">
    input {
        margin-top: 17px;
    }

    body {
        font-family: Arial;
        font-style: normal;
    }

    header {
        position: fixed;
        height: 10%;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    span {
        font-size: 30px;
        height: content-box;
    }
</style>
</body>
</html>